<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>


    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
    {{range	.}}
        <h1>{{	.Question	}}</h1>
        <h3>{{	.Question_type	}}</h3>
        {{range .Options}}
            {{range .Tags}}
                <span>{{.}}</span>
            {{end}}
            <img src="{{ .Image }}" alt="Image">
        {{end}}
    {{end}}
    </div>


    <script src="/static/js/bootstrap.min.js"></script>
</body>
</html>